/** Search filter styles*/
.search-filter {
  border: 2px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
}

/** Airport filter outer container styles*/
.airports-filter-outer-container {
  background: #f4f4f4;
}

/** Airport filter inner container styles*/
.airports-filter-inner-container {
  background: white;
  font-weight: revert;
}

/** Table header styles*/
thead {
  background: #e7e7e7;
}

/** Styles for alternate row background*/
tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

span {
  color: #e0e0e0;
}

/** Pagination arrows styles*/
.fa {
  font-size: 40px;
  cursor: pointer;
}

/** Pagination disabled styles*/
.navigation-disabled {
  color: grey;
  cursor: not-allowed;
}

/** Checkbox filter styles*/
.checkbox-filter {
  display: inline-block;
  margin-left: -13px;
}

/** Hiding the default checkbox*/
input[type="checkbox"] {
  visibility: hidden;
}

/** Custom checkbox*/
input[type="checkbox"] + label:before {
  border: 2px solid black;
  content: "\00a0";
  display: inline-block;
  font: 12px/1em sans-serif;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  vertical-align: top;
  width: 16px;
  border-radius: 3px;
}

/** Custom checkbox styles when checked*/
input[type="checkbox"]:checked + label:before {
  background: black;
  color: white;
  content: "\2713";
  text-align: center;
}

h5,
b {
  font-weight: revert;
}
